{% include 'blog-loop' %}
<div class="container">
	<div class="row">
		{% if featuredArticles %}
			{% if template contains 'article' %}
				{% assign featuredArticles = featuredArticles | sort:'tags' | reverse %}
				{% for article in featuredArticles limit:4 %}
					<div class="col-md-6 related-article-img">
						<div class="related-article-color">
							<img class="img-fluid" src="{{ article.image.src | img_url: '500x300', crop: 'center' }}">
							<div class="related-article-text">
								<div class="related-article-category">
									{% assign article_cat_hand = article.handle | split:'/' %}
									{% for blog_cat in featuredBlogs %}
										{% if blogs[blog_cat].handle == article_cat_hand[0] %}
										<p class="badge badge-primary tb-badge-primary">
											<a href="{{ blogs[blog_cat].url }}">{{ blogs[blog_cat].title }}</a>
										</p>
										{% endif %}
									{% endfor %}
								</div>
								<div class="related-article-txt-block">
									<a href="{{ article.url }}">
										<h5 class="related-article_title">{{ article.title | truncate: 100 }}</h5>
									</a>
										<p class="related-article-pubdate"><i class="fas fa-clock"></i> {{ article.published_at | date: "%b %d, %Y" }}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}
				{% for article in featuredArticles limit:2 %}
					<div class="col-md-6 related-article-img">
						<div class="related-article-color">
							<img class="img-fluid" src="{{ article.image.src | img_url: '500x300', crop: 'center' }}">
							<div class="related-article-text">
								<div class="related-article-category">
									{% assign article_cat_hand = article.handle | split:'/' %}
									{% for blog_cat in featuredBlogs %}
										{% if blogs[blog_cat].handle == article_cat_hand[0] %}
										<p class="badge badge-primary tb-badge-primary">
											<a href="{{ blogs[blog_cat].url }}">{{ blogs[blog_cat].title }}</a>
										</p>
										{% endif %}
									{% endfor %}
								</div>
								<div class="related-article-txt-block">
									<a href="{{ article.url }}">
										<h5 class="related-article_title">{{ article.title | truncate: 100 }}</h5>
									</a>
										<p class="related-article-pubdate"><i class="fas fa-clock"></i> {{ article.published_at | date: "%b %d, %Y" }}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endif %}
	</div>
	{% if template contains 'index' %}
		<div class="row related-article-button">
			<div class="col-md-12 text-center">
				<a href="{{ section.settings.hp_articles_btn_url }}" class="btn btn-primary tb-button">{{ section.settings.hp_articles_btn_text }}</a>
			</div>
		</div>
	{% endif %}
</div>