{% if template contains 'page' or 'collection' %}
<div class="container">
{% else %}
<div class="container-fluid">
{% endif %}
  <div class="row">
    {% unless template == 'index' or template == 'cart' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb tb-bcrumb">
        <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
        {% if template contains 'page' %}
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        {% elsif template contains 'product' %}
          {% assign product_vendor_handle = product.vendor | handle %}
          {% if product_vendor_handle != product.collections[1].handle %}
            <li class="breadcrumb-item"><a href="{{ product.collections[1].url }}">{{ product.collections[1].title }}</a></li>
          {% else %}
            <li class="breadcrumb-item"><a href="{{ product.collections[2].url }}">{{ product.collections[2].title }}</a></li>
          {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        {% elsif template contains 'collection' and collection.handle %}
          {% if current_tags %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            <li class="breadcrumb-item">{{ collection.title | link_to: url }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: " + " }}</li>
          {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ collection.title }}</li>
          {% endif %}
        {% elsif template == 'list-collections' %}
          <li class="breadcrumb-item active" aria-current="page">All Categories</li>
        {% elsif template == 'blog' %}
          {% if current_tags %}
            <li class="breadcrumb-item">{{ blog.title | link_to: blog.url }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: " + " }}</li>
          {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
          {% endif %}
        {% elsif template == 'article' %}
          <li class="breadcrumb-item">{{ blog.title | link_to: blog.url }}</li>
          <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
        {% elsif template == 'search' %}
          <li class="breadcrumb-item active" aria-current="page">Search</li>
        {% elsif template == 'customers/order' %}
          <li class="breadcrumb-item"><a href="/account">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        {% elsif template == 'customers/addresses' %}
          <li class="breadcrumb-item"><a href="/account">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        {% endif %}
      </ol>
    </nav>
    {% endunless %}
  </div>
</div>