<div class="tb-sidebar">
	<div class="row">
		<div class="col-md-12">
			<div class="tb-sidebar-header">
				<h6>Categories</h6>
			</div>
			<ul class="list-group">
				{% assign collection_handle = "collection-" | append: collection.handle %}
					{% if linklists[collection_handle].links != blank %}
						{% for link in linklists[collection_handle].links %}
							<li class="list-group-item"><a class="gtm-cat-left-nav" href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					{% else %}
						{% for link in linklists[section.settings.cat_sidebar_linklist].links %}
							<li class="list-group-item"><a class="gtm-cat-left-nav" href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					{% endif %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tb-sidebar-header">
				<h6>Brands</h6>
			</div>
			<ul class="list-group">
				{% for product_vendor in shop.vendors %}
					<li class="list-group-item"><a class="gtm-cat-left-nav" href="/collections/{{ product_vendor | downcase | replace: ' ', '-' }}">{{ product_vendor }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% if section.settings.collection_featured_post_enable %}
		<div class="row">
			<div class="col-md-12">
				<div class="tb-sidebar-header">
					<h6>Featured Articles</h6>
				</div>
				{% include 'blog-loop' %}
				{% if featuredArticles %}
					{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}
					{% for article in featuredArticles limit:2 %}
						<div class="coll-sb-article">
							<div class="coll-sb-art-imgtext">
								<a class="gtm-cat-left-nav" href="{{ article.url }}">
									<img class="img-fluid" src="{{ article.image.src | img_url: '500x300', crop: 'center' }}">
									<div><span>{{ article.title | truncate: 65 }}</span></div>
								</a>
							</div>
						</div>
					{% endfor %}
						<div class="coll-sb-art-button">
							<a href="{{ section.settings.cat_sidebar_blog_link }}" class="btn btn-primary tb-button gtm-cat-left-nav">See More</a>
						</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>