<style type="text/css">
	.pd-page-sku {
		font-size: 13px;
	}
</style>

<div class="col-md-12 mt-3">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-6">
			{% include 'product-single-price' %}
		</div>
		<div class="col-md-6 col-sm-6 col-6 text-right my-auto">
			<div class="pd-page-sku">
				<span><strong>SKU</strong></span>
				<span class="tb-green">//</span>
				<span>{{ product.first_available_variant.sku }}</span>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 mt-2">
	<div class="pd-pg-ratings">
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
		<div class="d-inline-block">
			<span class="pd-pg-write-review"><a href="">Write a Review</a></span>
		</div>
	</div>
</div>

<div class="col-md-12 mt-2">
	<form action="/cart/add" method="post" enctype="multipart/form-data">
		{% if product.has_only_default_variant == false %}
			<div class="form-group row">
				<label class="col-3 col-form-label">Size</label>
				<div class="col-8">
					<select name="id" class="custom-select">
						{% for variant in product.variants %}
							{% if variant.available == true %}
								<option value="{{variant.id}}"> {{ variant.title }}</option>
							{% else %}
								<option disabled="disabled"> {{ variant.title }} - sold out!</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		{% endif %}
		<div class="form-group row">
			<label class="col-3 col-form-label">Quantity</label>
			<div class="col-8">
				<div class="input-group number-spinner">
					<span class="input-group-btn">
						<button class="btn btn-default" data-dir="dwn" type="button">
							<i class="fas fa-minus"></i>
						</button>
					</span>
					<input type="text" class="form-control text-center" value="1">
					<span class="input-group-btn">
						<button class="btn btn-default" data-dir="up" type="button">
							<i class="fas fa-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<button type="submit" name="add" id="add" class="btn btn-primary tb-button">Add to Cart</button>
	</form>	
</div>