<style type="text/css">

	.solid-bottom-line-2 {
		border-bottom: 1px solid;
	}

	.pd-page-social-share {
		font-size: 17px;
		vertical-align: middle;
	}

	.pd-page-social-share .fa-facebook {
		color: #3B5998;
	}

	.pd-page-social-share .fa-twitter {
		color: #1DA1F2;
	}

	.pd-page-social-share .fa-pinterest {
		color: #BD081C;
	}

	.pd-page-social-share .fa-linkedin {
		color: #0077B5;
	}

	.pd-page-social-share a {
		padding-left: 10px;
		font-size: 28px;
		vertical-align: middle;
	}

	.pd-page-social-share .fa-facebook:hover,
	.pd-page-social-share .fa-twitter:hover,
	.pd-page-social-share .fa-pinterest:hover,
	.pd-page-social-share .fa-linkedin:hover {
		color: #737373;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-ms-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear;
	}

	.number-spinner button {
		background: none;
	}

	/* For Firefox */
	input[type='number'] {
		-moz-appearance:textfield;
	}
	/* Webkit browsers like Safari and Chrome */
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	@media (max-width: 767.98px) {
		.pd-page-add-cart-btn {
			text-align: center;
		}

		.pd-page-add-cart-btn button {
			width: 100%;
		}
	}
</style>

<script type="text/javascript">
	window.product = {{ product | json }} || {};
</script>

<div class="col-md-12 mt-3 pd-pg-price">
	<span>{{ product.selected_or_first_available_variant.price | money }}</span>
</div>
<div class="col-md-12 mt-2">
	<div class="pd-page-sku">
		<span><strong>SKU</strong></span>
		<span class="tb-green">//</span>
		<span class="variant-sku">{{ product.selected_or_first_available_variant.sku }}</span>
	</div>
</div>
<div class="col-md-12 mt-2">
	<div class="pd-pg-ratings">
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
		<div class="d-inline-block">
			<span class="pd-pg-write-review font-weight-bold"><a href="#customer-reviews">Write a Review</a></span>
		</div>
	</div>
</div>

<div class="col-md-12">
	<form action="/cart/add" method="post" enctype="multipart/form-data">
		{% comment %}
		{% if product.has_only_default_variant == false %}
			<div class="form-group row mt-4">
				<label class="col-md-3 col-sm-2 col-2 col-form-label font-weight-bold">Size</label>
				<div class="col-md-9 col-sm-8 col-10 product-category">
					<select name="id" class="custom-select product-single__variants" id="ProductSelect-{{ section.id }}" data-index="option1">
						{% for variant in product.variants %}
							{% if variant.available %}
								<option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{variant.id}}">
									{{ variant.title }}
								</option>
							{% else %}
								<option disabled="disabled"> {{ variant.title }} - sold out!</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		{% endif %}
		{% endcomment %}
		{% if product.has_only_default_variant == false %}
			{% for product_option in product.options_with_values %}
				<div class="form-group row mt-4 product-category">
					<label class="col-md-3 col-sm-2 col-2 col-form-label font-weight-bold">{{ product_option.name }}</label>
					<div class="col-md-9 col-sm-8 col-10">
						<select class="custom-select" data-index="option{{forloop.index}}">
							{% for value in product_option.values %}
								<option value="{{ value | escape }}" {% if product_option.selected_value == value %} selected="selected" {% endif %}>
										{{ value }}
								</option>
							{% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<!-- endtest -->
		<div class="form-group row mt-4">
			<label class="col-md-3 col-sm-2 col-2 col-form-label font-weight-bold" for="quantity">Quantity</label>
			<div class="col-md-9 col-sm-8 col-10">
				<div class="input-group number-spinner">
					<span class="input-group-btn">
						<button class="btn btn-default" data-dir="dwn" type="button">
							<i class="fas fa-minus"></i>
						</button>
					</span>
					<input class="form-control text-center" pattern="[0-9]*" type="number" id="quantity" name="quantity" value="1" min="1">
					<span class="input-group-btn">
						<button class="btn btn-default" data-dir="up" type="button">
							<i class="fas fa-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group row mt-4">
			<div class="col-md-12 pd-page-add-cart-btn">
				<input type="hidden" name="id" id="variant-id" value={{ product.variants.first.id }}>
				<button type="submit" name="add" id="add" class="btn btn-primary tb-button">Add to Cart</button>
			</div>
		</div>
	</form>	
</div>

<div class="col-md-12 col-sm-12 col-12 mt-2">
	<div class="solid-bottom-line-2"></div>
</div>

<div class="col-md-12 mt-3 pd-page-social-share">
	<span class="font-weight-bold">Share</span>
	{% include 'blog-social-share' %}
</div>