{% comment %}
<div class="col-md-12 text-center">
	<img class="img-fluid" src="{{ product.selected_or_first_available_variant.featured_image.src | default: product.featured_image.src | img_url: '500x500', crop: 'center' }}">
</div>
{% endcomment %}


{%comment%}
<div class="col-md-12 text-center">
	<div class="single-product-images">
		{% for image in product.images %}
			<div data-thumb="{{ image.src | img_url: '1000x1000', crop: 'center' }}">
				<img class="img-fluid" src="{{ image.src | img_url: '500x500', crop: 'center' }}">
			</div>
		{% endfor %}
	</div>
</div>
{%endcomment%}


<div class="col-md-12 text-center mb-4 mt-4">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12">
			<div class="slider-for">
				{% for image in product.images %}
					<img class="img-fluid" src="{{ image.src | img_url: '500x500', crop: 'center' }}">
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% if product.images.size > 1 %}
<div class="col-md-12 text-center">
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="slider-nav">
				{% for image in product.images %}
					<img class="img-fluid" src="{{ image.src | img_url: '500x500', crop: 'center' }}">
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}


<style type="text/css">
.slick-prev::before {
    font-family: "Font Awesome 5 Free";
    content: "\f104";
    font-weight: 900;
    font-size: 25px;
    color: #343A40;
}  
.slick-next::before {
    font-family: "Font Awesome 5 Free";
    content:  "\f105";
    font-weight: 900;
    font-size: 25px;        
    color: #343A40;
}    

.slider-nav .slick-slide {
	margin-left: 10px;
	margin-right: 10px;
}
</style>



<!-- <style type="text/css">
	.slick-prev:before, .slick-next:before {
  color: #2980b9;
  opacity: 100;
}

.slick-next, .slick-next:focus {
  right: 0px;
  background: #fff;
  width: 40px;
  padding: 35px 0;
  top: 40%;
}

.slick-prev, .slick-prev:focus {
  left: 0px;
  background: #fff;
  width: 40px;
  padding: 35px 0;
  z-index: 1;
  top: 40%;
}


.slick-next:hover, .slick-prev:hover {
  background: #000;
}

.slick-next:before, .slick-prev:before {
  color: #555;
  content: "\f054";
  line-height: 0;
  font-family: "FontAwesome";
}

.slick-next:hover:before {
  color: #fff;
  content: "\f054";
  line-height: 0;
  font-family: "FontAwesome";
}

.slick-prev:before {
  color: #555;
  content: "\f053";
  font-family: "FontAwesome";
}

.slick-prev:hover:before {
  color: #fff;
  content: "\f053";
  line-height: 0;
  font-family: "FontAwesome";
}

.slick-slide {
  outline: none;
}

.slick-dots {
  position: inherit;
  margin-top: 10px;
  margin-left: 0;
  bottom: 0;
}
.slick-dots li {
  width: 80px;
}
</style> -->