{% include 'breadcrumbs' %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-inline"><span class="h2 tb-h-underline d-inline mr-4">Your Account</span></div>
      <div class="d-inline"><a class="standard-links-two" href="/account/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-4">
      <div class="d-inline mr-4"><span class="h3">Welcome, {{ customer.first_name }}!</span></div>
    </div>
  </div>

  <div class="row">
    {% paginate customer.orders by 10 %}
    {% if customer.orders.size != 0 %}

    <div class="col-lg-8 col-md-12">

      <div class="row">

        <div class="col-md-12 cart-grid-header py-2 mt-2">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-2 text-center">
              <span>Order</span>
            </div>
            <div class="col-md-3 col-sm-3 col-4 text-center">
              <span>Date</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-center">
              <span>Status</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-center">
              <span>Total</span>
            </div>
          </div>
        </div>

        {% for order in customer.orders %}
          <div class="col-md-12 border-bottom">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-2 text-center my-4">
                <span><a class="standard-links-two" href="{{ order.customer_url }}">{{ order.name }}</a></span>
              </div>
              <div class="col-md-3 col-sm-3 col-4 text-center my-4">
                <span>{{ order.created_at | date: "%b %d, %Y" }}</span>
              </div>
              <div class="col-md-3 col-sm-3 col-3 text-center my-4">
                <span><a class="standard-links-two" href="{{ order.order_status_url }}">{{ order.fulfillment_status | capitalize }}</a></span>
              </div>
              <div class="col-md-3 col-sm-3 col-3 text-center my-4">
                <span>{{ order.subtotal_price | money }}</span>
              </div>
            </div>
          </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
            {% include 'pagination' %}
        {% endif %}

      </div>
    </div>

    <div class="col-lg-4 col-md-12 mt-lg-1 mt-4">

      <h4 class="mb-4">Account Details</h4>

      <dl class="row">
        <dt class="col-3">Name</dt>
        <dd class="col-9">{{ customer.name }}</dd>

        <dt class="col-3">Email</dt>
        <dd class="col-9">{{ customer.email }}</dd>

        <dt class="col-3">Address</dt>
        <dd class="col-9">
          {% if customer.default_address %}
            <p>{{ customer.default_address.address1 }}</p>
            {% if customer.default_address.address2 != "" %}
              <p>{{ customer.default_address.address2 }}</p>
            {% endif %}
            <p>{{ customer.default_address.city}}, {% if customer.default_address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
            <p>{{ customer.default_address.zip }}</p>
            <p>{{ customer.default_address.phone }}</p>
            <a class="standard-links-two" href="/account/addresses">Edit / Add Addresses</a>
          {% endif %}
        </dd>
      </dl>

    </div>

    {% else %}
      <div class="col-md-12 my-4 text-center">
        <p class="h2">You haven't placed any orders yet.</p>
      </div>
    {% endif %}
    {% endpaginate %}
  </div>
</div>