{% include 'breadcrumbs' %}



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="tb-h-underline">Account Details</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Welcome, {{ customer.first_name }}!</h3>
    </div>
  </div>

  <div class="row">
    {% paginate customer.orders by 10 %}
    {% if customer.orders.size != 0 %}

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-3 text-center">
            <span>Order</span>
          </div>
          <div class="col-md-3 col-sm-3 col-3 text-center">
            <span>Date</span>
          </div>
          <div class="col-md-3 col-sm-3 col-3 text-center">
            <span>Status</span>
          </div>
          <div class="col-md-3 col-sm-3 col-3 text-center">
            <span>Total</span>
          </div>
        </div>
      </div>

      {% for order in customer.orders %}
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-3 text-center">
              <span>{{ order.name | link_to: order.customer_url }}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-center">
              <span>{{ order.created_at | date: "%b %d, %Y" }}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-center">
              <span><a href="{{ order.order_status_url }}">{{ order.fulfillment_status | capitalize }}</a></span>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-center">
              <span>{{ order.subtotal_price | money }}</span>
            </div>
          </div>
        </div>
      {% endfor %}


      {% if customer.default_address %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != "" %}
          <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
        <p>{{ customer.default_address.zip }}</p>
        <p>{{ customer.default_address.phone }}</p>
      {% endif %}

    {% else %}
      <p>You haven't placed any orders yet.</p>
    {% endif %}
    {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</div>