{% include 'breadcrumbs' %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="tb-h-underline">Addresses</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 my-4">
      <a class="btn btn-primary tb-button-secondary" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6 offset-lg-3 col-md-12">

      <div id="add_address" style="display: none;">
      {% form 'customer_address', customer.new_address %}
        <div class="form-group">
          <input class="form-control" type="text" placeholder="First Name" name="address[first_name]" required />
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Last Name" name="address[last_name]" required />
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Company (Optional)" name="address[company]" />
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Address" name="address[address1]" required />
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Apartment, Suite, Etc. (Optional)" name="address[address2]" />
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="City" name="address[city]" required />
        </div>

        <div class="form-group">
          <select class="form-control" id="address_country_new" name="address[country]" data-default="{{ form.country }}" required >{{ all_country_option_tags }}</select>
        </div>

        <div class="form-group" id="address_province_container_new">
          <select class="form-control" id="address_province_new" name="address[province]" data-default="{{ form.province }}" required ></select>
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="ZIP/Postal Code" name="address[zip]" required />
        </div>

        <div class="form-group">
          <input class="form-control bfh-phone" type="tel" placeholder="Phone Number (Optional)" name="address[phone]" />
        </div>


        <div class="form-group">
          <input type="submit" class="btn btn-primary tb-button" value="Create Address" />
        </div>
      {% endform %}
      </div>

    </div>

  </div>




  <div class="row">

      {% for address in customer.addresses %}

        <div class="col-md-6">
          <h3>Address {{ forloop.index }}</h3>
          <p>{{ address.first_name }} {{ address.last_name }}</p>
          {% if address.company != blank %}
            <p>{{ address.company }}</p>
          {% endif %}
          <p>{{ address.address1 }}</p>
          {% if address.address2 != blank %}
            <p>{{ address.address2 }}</p>
          {% endif %}
          <p>{{ address.city }}, {{ address.province_code }}</p>
          <p>{{ address.zip }}</p>
          <p>{{ address.country }}</p>
          <p>{{ address.phone }}</p>
          <p><span class="standard-links-two-div">{{ 'Edit' | edit_customer_address_link: address.id }}</span> | <span class="standard-links-two-div">{{ 'Delete' | delete_customer_address_link: address.id }}</span></p>
          <div id="edit_address_{{address.id}}" style="display: none;">
            {% form 'customer_address', address %}
              

              <div class="form-group">
                <input class="form-control" type="text" placeholder="First Name" name="address[first_name]" value="{{ form.first_name }}" required />
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Last Name" name="address[last_name]" value="{{ form.last_name }}" required />
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Company (Optional)" name="address[company]" value="{{  form.company }}" />
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Address" name="address[address1]" value="{{ form.address1 }}" required />
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Apartment, Suite, Etc. (Optional)" name="address[address2]" value="{{ form.address2 }}" />
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="City" name="address[city]" value="{{ form.city }}" required />
              </div>

              <div class="form-group">
                <select class="form-control" id="address_country_{{address.id}}" name="address[country]" data-default="{{ form.country }}" required >{{ all_country_option_tags }}</select>
              </div>

              <div class="form-group" id="address_province_container_{{address.id}}">
                <select class="form-control" id="address_province_{{address.id}}" name="address[province]" data-default="{{ form.province }}" required ></select>
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="ZIP/Postal Code" name="address[zip]" value="{{ form.zip }}" required />
              </div>

              <div class="form-group">
                <input class="form-control" type="tel" placeholder="Phone Number (Optional)" name="address[phone]" value="{{ form.phone }}" />
              </div>


              <div class="form-group">
                <input type="submit" class="btn btn-primary tb-button" value="Update Address" />
              </div>


            {% endform %}
          </div>
        </div>
      {% endfor %}
      
  </div>
</div>

<script>
  // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {
    hideElement: 'address_province_container_new'
  });

  // Initiate provinces for all existing addresses
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}

</script>