<!-- Inline for background image -->
<style type="text/css">
	.blog-article-hero {
		background-image: url({{ article.image.src | img_url: '1920x' }});
	}
</style>

<div class="blog-article-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center blog-article-hero-overlay">
				<div class="blog-article-hero-row">
					<div class="blog-article-hero-cell">
						<h1 class="blog-article-h1">{{ article.title | truncate: 100 }}</h1>
						<div class="blog-article-pubdate-cat">
							<span class="blog-article-pubdate"><i class="fas fa-clock"></i> {{ article.published_at | date: "%b %d, %Y" }}</span>
							<span class="tb-green blog-article-pubdate-cat-sep">//</span>
							<span class="blog-article-cat-com"><a href="{{ blog.url }}">{{ blog.title }}</a></span>
							<span class="tb-green blog-article-pubdate-cat-sep">//</span>
							<span class="blog-article-cat-com"><a href="{{ article.url }}#disqus_thread">Comments</a></span>
						</div>
						<div class="blog-article-social">
							{% include 'blog-social-share' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="blog-article-body">
				{{ article.content }}
					<p class="blog-article-bottom-share">
						<span>Share</span>
						<span class="tb-green">//</span>
						{% include 'blog-social-share' %}
					</p>
				{% if article.tags != blank %}
					<p>
						Tags:
						{% for tag in article.tags %}
							<span class="badge badge-primary tb-badge-secondary tag-badge">
								<a href="{{ blog.url }}/tagged/{{ tag.handle }}">{{ tag }}</a>
							</span>
						{% endfor %}
					</p>
				{% endif %}
			</div>
		</div>
	</div>	
</div>
<div class="container">
	<div class="row">
		<div class="col-12 blog-article-comments">
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row justify-content-center">
	  <h3 class="tb-box-h3">Related Articles</h3>
	</div>
</div>
{% include 'blog-article-related' %}


<script>
var disqus_config = function () {
this.page.url = 'https://tool-beast-dev.myshopify.com{{ article.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ article.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tool-beast-dev.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//tool-beast-dev.disqus.com/count.js" async></script>