<style type="text/css">
	.dk-back:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		background: linear-gradient(to top right, #D8D8D8, #343A40);
		height: 250px;
		z-index: -1;
	}

	.blog-category-header {
		margin: 30px 0px;
		color: #FFFFFF;
	}

	.test {
		background-color: #FFFFFF;
		box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
	}

	.test-2 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.cat-feat-blog-thumb-read-more {
		padding-bottom: 20px;
	}

	.blog-cat-list {
		margin-top: 20px;
	}

	.blog-sidebar {
		margin-top: 20px;
	}
</style>

<div class="dk-back">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="blog-category-header">{{ blog.title }}</h1>
			</div>
		</div>
	</div>
	<div class="container">
	{% for article in blog.articles %}
		{% if forloop.first == true %}
		<div class="row test">
		    <div class="col-lg-8 col-md-7 order-1 order-md-7 my-auto test-2">
		      <div class="blog-thumb-img">
		        <a href="{{ article.url }}">
		          <img class="img-fluid" src="{{ article.image.src | img_url: '1920x', crop: 'center' }}">
		        </a>
		      </div>
		    </div>
		    <div class="col-lg-4 col-md-5 order-2 my-auto">
		      {% comment %}
		      <div class="recommended-post-badge">
		        <div class="badge badge-primary tb-badge-secondary">Recommended</div>  
		      </div>
		      {% endcomment %}
		      <div class="blog-thumb-title">
		        <h5>
		          <a href="{{ article.url }}">{{ article.title | truncate: 65 }}</a>
		        </h5>
		      </div>
		      <div class="blog-thumb-pub-date">
		        <span><i class="fas fa-clock"></i> {{ article.published_at | date: "%B %d, %Y" }}</span>
		      </div>
		      <div class="blog-thumb-excerpt">
		        {% if article.excerpt != blank %}
		          <p>{{ article.excerpt | strip_html | truncate: 120 }}</p>
		        {% else %}
		          <p>{{ article.content | strip_html | truncate: 120 }}</p>
		        {% endif %}
		      </div>
		      <div class="cat-feat-blog-thumb-read-more">
		        <a href="{{ article.url }}" class="btn btn-primary tb-button-small">Read More</a>
		      </div>
		    </div>
		 </div>
		{% endif %}
	{% endfor %}
		<div class="row">
			<div class="col-lg-9">
				{% for article in blog.articles %}
				{% if forloop.index != 1 %}
				<div class="row blog-cat-list">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6 my-auto">
						        <a href="{{ article.url }}">
						          <img class="img-fluid" src="{{ article.image.src | img_url: '950x630', crop: 'center' }}">
						        </a>
					    	</div>
					    	<div class="col-md-6 my-auto">
					    		  <div class="blog-thumb-title">
							        <h6>
							          <a href="{{ article.url }}">{{ article.title | truncate: 65 }}</a>
							        </h6>
							      </div>
							      <div class="blog-thumb-pub-date">
							        <span><i class="fas fa-clock"></i> {{ article.published_at | date: "%B %d, %Y" }}</span>
							      </div>
							      <div class="blog-thumb-excerpt">
							        {% if article.excerpt != blank %}
							          <p>{{ article.excerpt | strip_html | truncate: 120 }}</p>
							        {% else %}
							          <p>{{ article.content | strip_html | truncate: 120 }}</p>
							        {% endif %}
							      </div>
							      <div class="cat-feat-blog-thumb-read-more">
							        <a href="{{ article.url }}" class="btn btn-primary tb-button-small">Read More</a>
							      </div>
					    	</div>
				    	</div>
				    </div>
				</div>
				{% endif %}
		    	{% endfor %}
			</div>
			<div class="col-lg-3">
				<div class="tb-sidebar blog-sidebar">
					<div class="row">
						<div class="col-lg-12 col-md-6">
							<div class="tb-sidebar-header">
								<h6>Categories</h6>
							</div>
							<ul class="list-group">
								{% for link in linklists[section.settings.blog_cat_sidebar_linklist].links %}
									<li class="list-group-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
								{% endfor %}
							</ul>
						</div>

						{% if blog.all_tags != blank %}
							<div class="col-lg-12 col-md-6">
								<div class="tb-sidebar-header">
									<h6>Tags</h6>
								</div>
								{% for tag in blog.all_tags %}
									<div class="badge badge-primary tb-badge-primary">
										<a href="{{ blog.url }}/tagged/{{ tag.handle }}">{{ tag }}</a>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% schema %}
{
  "name": "Blog Category Pages",
  "settings": [
    {
      "type": "link_list",
      "id": "blog_cat_sidebar_linklist",
      "label": "Blog Category Links",
      "default": "main-menu"
    }
  ]
}
{% endschema %}