<style type="text/css">
	.blog-article-hero {
		background-image: url({{ article.image.src | img_url: '1920x' }});
	}

	.blog-article-hero {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 500px;
		color: #FFFFFF;	
	}

	.blog-article-hero-overlay {
		height: 500px;
		display: table;
		padding: 100px;
		background: rgba(56,56,56,0.5);
	}

	.blog-article-hero-row {
		display: table-row;
	}

	.blog-article-hero-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.blog-article-h1 {
		text-transform: uppercase;
		font-weight: bold;
	}

	.blog-article-pubdate-cat-sep {
		padding-left: 10px;
		padding-right: 10px;
	}

	.blog-article-cat-com a {
		color: #FFFFFF;
	}

	.blog-article-cat-com a:hover {
		text-decoration: none;
		color: #D8D8D8;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-ms-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear;
	}

	.blog-article-social {
		margin-top: 10px;
	}

	.blog-article-social a {
		color: #FFFFFF;
		font-size: 30px;
		padding-left: 7px;
		padding-right: 7px;
	}

	.blog-article-social a:hover {
		color: #D8D8D8;
		text-decoration: none;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-ms-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear;
	}

	.blog-article-body {
		margin-top: 40px;
	}

	.blog-article-body img,
	.blog-article-body p,
	.blog-article-body ul,
	.blog-article-body ol,
	.blog-article-body h1,
	.blog-article-body h2,
	.blog-article-body h3,
	.blog-article-body h4,
	.blog-article-body h5,
	.blog-article-body h6 {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.blog-article-bottom-share {
		font-size: 25px;
		vertical-align: middle;
	}

	.blog-article-bottom-share .fa-facebook {
		color: #3B5998;
	}

	.blog-article-bottom-share .fa-twitter {
		color: #1DA1F2;
	}

	.blog-article-bottom-share .fa-pinterest {
		color: #BD081C;
	}

	.blog-article-bottom-share .fa-linkedin {
		color: #0077B5;
	}

	.blog-article-bottom-share a {
		padding-left: 10px;
		font-size: 30px;
		vertical-align: middle;
	}

	.blog-article-bottom-share .fa-facebook:hover,
	.blog-article-bottom-share .fa-twitter:hover,
	.blog-article-bottom-share .fa-pinterest:hover,
	.blog-article-bottom-share .fa-linkedin:hover {
		color: #737373;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-ms-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear;
	}

	.blog-article-comments {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	@media (max-width: 767.98px) {
		.blog-article-hero-overlay {
			height: 550px;
			display: table;
			padding: 5px;
			background: rgba(56,56,56,0.5);
		}

		.blog-article-hero {
			height: 550px;
		}
	}

	@media (min-width: 767.98px) {
		.blog-article-body p,
		.blog-article-body ul,
		.blog-article-body ol,
		.blog-article-body h1,
		.blog-article-body h2,
		.blog-article-body h3,
		.blog-article-body h4,
		.blog-article-body h5,
		.blog-article-body h6 {
			width: 80%;
			margin: auto;
		}

		.blog-article-body p,
		.blog-article-body ul,
		.blog-article-body ol,
		.blog-article-body h1,
		.blog-article-body h2,
		.blog-article-body h3,
		.blog-article-body h4,
		.blog-article-body h5,
		.blog-article-body h6 {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
</style>
<div class="blog-article-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center blog-article-hero-overlay">
				<div class="blog-article-hero-row">
					<div class="blog-article-hero-cell">
						<h1 class="blog-article-h1">{{ article.title | truncate: 100 }}</h1>
						<div class="blog-article-pubdate-cat">
							<span class="blog-article-pubdate"><i class="fas fa-clock"></i> {{ article.published_at | date: "%b %d, %Y" }}</span>
							<span class="tb-green blog-article-pubdate-cat-sep">//</span>
							<span class="blog-article-cat-com"><a href="{{ blog.url }}">{{ blog.title }}</a></span>
							<span class="tb-green blog-article-pubdate-cat-sep">//</span>
							<span class="blog-article-cat-com"><a href="{{ article.url }}#disqus_thread">Comments</a></span>
						</div>
						<div class="blog-article-social">
							<span><a href="http://www.facebook.com/sharer/sharer.php?u=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}" target="popup" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}','popup','width=600,height=600'); return false;"><i class="fab fa-facebook"></i></a></span>
							<span><a href="http://twitter.com/intent/tweet?status={{ article.title }}+https://{{ shop.domain }}{{ article.url }}" target="popup" onclick="window.open('http://twitter.com/intent/tweet?status={{ article.title }}+https://{{ shop.domain }}{{ article.url }}','popup','width=600,height=600'); return false;"><i class="fab fa-twitter"></i></a></span>
							<span><a href="http://pinterest.com/pin/create/bookmarklet/?media={{ article | img_url: 'large' }}&url={{ article.url }}&is_video=false&description={{ article.title }}" target="popup" onclick="window.open('http://pinterest.com/pin/create/bookmarklet/?media={{ article | img_url: 'large' }}&url={{ article.url }}&is_video=false&description={{ article.title }}','popup','width=600,height=600'); return false;"><i class="fab fa-pinterest"></i></a></span>
							<span><a href="http://www.linkedin.com/shareArticle?mini=true&url=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}&source={{ shop.domain }}" target="popup" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}&source={{ shop.domain }}','popup','width=600,height=600'); return false;"><i class="fab fa-linkedin"></i></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="blog-article-body">
				{{ article.content }}
					<p class="blog-article-bottom-share">
						<span>Share</span>
						<span class="tb-green">//</span>
						<span><a href="http://www.facebook.com/sharer/sharer.php?u=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}" target="popup" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}','popup','width=600,height=600'); return false;"><i class="fab fa-facebook"></i></a></span>
						<span><a href="http://twitter.com/intent/tweet?status={{ article.title }}+https://{{ shop.domain }}{{ article.url }}" target="popup" onclick="window.open('http://twitter.com/intent/tweet?status={{ article.title }}+https://{{ shop.domain }}{{ article.url }}','popup','width=600,height=600'); return false;"><i class="fab fa-twitter"></i></a></span>
						<span><a href="http://pinterest.com/pin/create/bookmarklet/?media={{ article | img_url: 'large' }}&url={{ article.url }}&is_video=false&description={{ article.title }}" target="popup" onclick="window.open('http://pinterest.com/pin/create/bookmarklet/?media={{ article | img_url: 'large' }}&url={{ article.url }}&is_video=false&description={{ article.title }}','popup','width=600,height=600'); return false;"><i class="fab fa-pinterest"></i></a></span>
						<span><a href="http://www.linkedin.com/shareArticle?mini=true&url=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}&source={{ shop.domain }}" target="popup" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=https://{{ shop.domain }}{{ article.url }}&title={{ article.title }}&source={{ shop.domain }}','popup','width=600,height=600'); return false;"><i class="fab fa-linkedin"></i></a></span>
					</p>
				{% if article.tags != blank %}
					<p>
						Tags:
						{% for tag in article.tags %}
							<span class="badge badge-primary tb-badge-secondary tag-badge">
								<a href="{{ blog.url }}/tagged/{{ tag.handle }}">{{ tag }}</a>
							</span>
						{% endfor %}
					</p>
				{% endif %}
			</div>
		</div>
	</div>	
</div>
<div class="container">
	<div class="row">
		<div class="col-12 blog-article-comments">
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row justify-content-center">
	  <h3 class="tb-box-h3">Related Articles</h3>
	</div>
</div>
{% include 'blog-article-related' %}


<script>
var disqus_config = function () {
this.page.url = 'https://tool-beast-dev.myshopify.com{{ article.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ article.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tool-beast-dev.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//tool-beast-dev.disqus.com/count.js" async></script>