<footer>
	<div class="footer-social">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="footer-follow">Follow Us</span>
					<span class="hvr-icon-fade"><a href="{{ settings.facebook_link }}"><i class="fab fa-facebook hvr-icon"></i></a></span>
					<span class="hvr-icon-fade"><a href="{{ settings.instagram_link }}"><i class="fab fa-instagram hvr-icon"></i></a></span>
					<span class="hvr-icon-fade"><a href="{{ settings.twitter_link }}"><i class="fab fa-twitter hvr-icon"></i></a></span>
					<span class="hvr-icon-fade"><a href="{{ settings.pinterest_link }}"><i class="fab fa-pinterest hvr-icon"></i></a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="tb-h-underline-fff">{{ section.settings.footer_header_1 }}</h5>
					<ul class="footer-linklist">
						{% for link in linklists[section.settings.footer_linklist_1].links %}
							<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="tb-h-underline-fff">{{ section.settings.footer_header_2 }}</h5>
					<ul class="footer-linklist">
						{% for link in linklists[section.settings.footer_linklist_2].links %}
							<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="tb-h-underline-fff">{{ section.settings.footer_header_3 }}</h5>
					<ul class="footer-linklist">
						{% for link in linklists[section.settings.footer_linklist_3].links %}
							<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 my-auto footer-email">
					<div class="footer-email-cta">
						<span>{{ section.settings.footer_email_cap }}</span>
					</div>
					<form>
					  <div class="form-group">
					    <input type="email" class="form-control" placeholder="EMAIL ADDRESS">
					  </div>
					  <button type="submit" class="btn btn-primary tb-button">Sign Up</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center tb-copyright">
					<span>Copyright © {{ "now" | date: "%Y" }} Tool Beast</span>
				</div>
			</div>
		</div>
	</div>
</footer>


{% schema %}
{
	"name": "Footer",
	"settings": [
	  {
	    "type": "text",
	    "id": "footer_header_1",
	    "label": "Footer Header 1"
	  },
	  {
	    "type": "link_list",
        "id": "footer_linklist_1",
        "label": "Footer Linklist 1"
	  },
	  {
	    "type": "text",
	    "id": "footer_header_2",
	    "label": "Footer Header 2"
	  },
	  {
	    "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Footer Linklist 2"
	  },
	  {
	    "type": "text",
	    "id": "footer_header_3",
	    "label": "Footer Header 3"
	  },
	  {
	    "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Footer Linklist 3"
	  },
	  {
	    "type": "text",
	    "id": "footer_email_cap",
	    "label": "Footer Email Text"
	  }
	]
}
{% endschema %}