<!-- shop by category -->
<div class="container">
	<div class="row justify-content-center">
	  <h3 class="tb-box-h3">{{ section.settings.hp_cat_header }}</h3>
	</div>
	<div class="row hp-category-block">
      <div class="col-md-4 hp-category-img">
      	<div class="hp-cat-color">
      	<a href="{{ section.settings.hp_cat_url_1 }}">
          <img class="img-fluid" src="{{ section.settings.hp_cat_img_1 | img_url: '500x300', crop: 'center' }}" alt="{{ section.settings.hp_cat_text_1 }}">
          <div class="hp-category-text">
              <h4 class="tb-h4-underline">{{ section.settings.hp_cat_text_1 }}</h4>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4 hp-category-img">
      	<div class="hp-cat-color">
      	<a href="{{ section.settings.hp_cat_url_2 }}">
          <img class="img-fluid" src="{{ section.settings.hp_cat_img_2 | img_url: '500x300', crop: 'center' }}" alt="{{ section.settings.hp_cat_text_2 }}">
          <div class="hp-category-text">
              <h4 class="tb-h4-underline">{{ section.settings.hp_cat_text_2 }}</h4>
          </div>
        </a>
    	</div>
      </div>
      <div class="col-md-4 hp-category-img">
      	<div class="hp-cat-color">
      	<a href="{{ section.settings.hp_cat_url_3 }}">
          <img class="img-fluid" src="{{ section.settings.hp_cat_img_3 | img_url: '500x300', crop: 'center' }}" alt="{{ section.settings.hp_cat_text_3 }}">
          <div class="hp-category-text">
              <h4 class="tb-h4-underline">{{ section.settings.hp_cat_text_3 }}</h4>
          </div>
        </a>
    	</div>
      </div>
    </div>
</div>

{% schema %}
{
	"name": "Home Page Categories",
	"settings": [
	  {
	    "type": "text",
	    "id": "hp_cat_header",
	    "label": "Home Category Header"
	  },
	  {
	    "type": "image_picker",
	    "id": "hp_cat_img_1",
	    "label": "Home Category Image 1"
	  },
	  {
	    "type": "text",
	    "id": "hp_cat_text_1",
	    "label": "Home Category Text 1"
	  },
	  {
	    "type": "url",
	    "id": "hp_cat_url_1",
	    "label": "Home Category URL 1"
	  },
	  {
	    "type": "image_picker",
	    "id": "hp_cat_img_2",
	    "label": "Home Category Image 2"
	  },
	  {
	    "type": "text",
	    "id": "hp_cat_text_2",
	    "label": "Home Category Text 2"
	  },
	  {
	    "type": "url",
	    "id": "hp_cat_url_2",
	    "label": "Home Category URL 2"
	  },
	  {
	    "type": "image_picker",
	    "id": "hp_cat_img_3",
	    "label": "Home Category Image 3"
	  },
	  {
	    "type": "text",
	    "id": "hp_cat_text_3",
	    "label": "Home Category Text 3"
	  },
	  {
	    "type": "url",
	    "id": "hp_cat_url_3",
	    "label": "Home Category URL 3"
	  }
	]
}
{% endschema %}