<style type="text/css">

.hp-article-img {
    position: relative;
    display: inline-block;
    padding-top: 20px;
}

.hp-article-color {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #343a40;
}

.hp-article-color .hp-article-text {
	width: 100%;
	position: absolute;
	overflow: hidden;
	padding: 50px 20px;
}

.hp-article-color img {
	display: block;
	position: relative;
	width: calc(100% + 20px);
	opacity: 0.3;
}

.hp-article-img img {
    display: block;
}

.hp-article-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
}

.hp-article-text {
	text-align: left;
}

.hp-article-category {
	width: fit-content;
}

.hp-article-category .hp-article-category-text {
	background-color: #2ECC71;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0.15rem;
}

.hp-article-text h4 {
	text-transform: uppercase;
}

.hp-article-txt-block a,
.hp-article-category a {
	color: #FFFFFF;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;

}

.hp-article-txt-block a:hover,
.hp-article-category a:hover {
	color: #D8D8D8;
	text-decoration: none;
}

.hp-article-button {
	padding-top: 20px;
}
	
</style>

<!-- featured tips and info -->
<div class="container-fluid">
	<div class="row justify-content-center">
	  <h3 class="tb-box-h3">{{ section.settings.hp_articles_header }}</h3>
	</div>
</div>



{% assign featuredBlogs = 'how-to,news,welding' | split:',' %}

{% comment %}
Set the featuredArticles variable to false by default.
{% endcomment %}
{% assign featuredArticles = false %}

{% comment %}
Grab the last 50 (default) articles from each Blog. Add the articles to the featureArticles variable.
{% endcomment %}
{% for featuredBlog in featuredBlogs %}
	{% if blogs[featuredBlog].articles %}
		{% if featuredArticles %}
			{% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
		{% else %}
			{% assign featuredArticles = blogs[featuredBlog].articles %}
		{% endif %}
	{% endif %}
{% endfor %}

{% comment %}
If featuredArticles is not false we should have articles to show.
{% endcomment %}
<div class="container">
	<div class="row">
	{% if featuredArticles %}
		{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}

		{% comment %}
		Now a quick example of showing the latest 2 articles from our master article list
		{% endcomment %}

		{% for article in featuredArticles limit:2 %}
			<div class="col-md-6 hp-article-img">
				<div class="hp-article-color">
						<img class="img-fluid" src="{{ article.image.src | img_url: '500x300', crop: 'center' }}">
						<div class="hp-article-text">
							<div class="hp-article-category">
								{% assign article_cat_hand = article.handle | split:'/' %}
								{% for blog_cat in featuredBlogs %}
									{% if blogs[blog_cat].handle == article_cat_hand[0] %}
									<a href="{{ blogs[blog_cat].url }}">
										<p class="hp-article-category-text">{{ blogs[blog_cat].title }}</p>
									</a>
									{% endif %}
								{% endfor %}
							</div>
							<div class="hp-article-txt-block">
								<a href="{{ article.url }}">
									<h4 class="hp-article_title">{{ article.title | truncate: 70 }}</h4>
								</a>
									<p><i class="fas fa-clock"></i> {{ article.published_at | date: "%B %d, %Y" }}</p>
							</div>
						</div>
				</div>
			</div>
		{% endfor %}

	{% endif %}
	</div>
	<div class="row hp-article-button">
		<div class="col-md-12 text-center">
			<a href="{{ section.settings.hp_articles_btn_url }}" class="btn btn-primary tb-button">{{ section.settings.hp_articles_btn_text }}</a>
		</div>
	</div>
</div>



{% schema %}
{
	"name": "Home Page Articles",
	"settings": [
		{
			"type": "text",
			"id": "hp_articles_header",
			"label": "Home Aritcles Header"
		},
		{
			"type": "text",
			"id": "hp_articles_btn_text",
			"label": "Home Aritcles Button Text"
		},
		{
			"type": "url",
			"id": "hp_articles_btn_url",
			"label": "Home Articles Button URL"
		}
	]
}
{% endschema %}