<!-- shop by product -->
<div class="container">
	<div class="row solid-bottom-line">
	  <h3 class="tb-h-underline">{{ section.settings.hp_product_header }}</h3>
	</div>
	<div class="row">
		{% assign hp_collection = collections[section.settings.hp_product_collection] %}
		{% for product in hp_collection.products limit: 4 %}
			<div class="col-md-3 hp-pd-block">
				<div class="hp-pd-img hp-overlay-reveal">
					<a href="{{ product.url }}">
						<img class="img-fluid" src="{{ product.featured_image.src | img_url: '500x500', crop: 'center' }}">
						<div class="hp-pd-overlay-hidden">
						  <div class="hp-pd-overlay-text">
						    <div class="hp-pd-overlay-center">
						    <span class="btn btn-primary tb-button">Shop Now</span>
						    </div>
						  </div>
						</div>
					</a>
				</div>
				<div class="hp-pd-title">
					<span>
						<a href="{{ product.url }}">{{ product.title }}</a>
					</span>
				</div>
				{% comment %}
					Prevent Caiman from showing SKU.
				{% endcomment %}
				{% if product.vendor != 'Caiman' %}
					<div class="hp-pd-sku">
						<span><strong>SKU <span class="tb-green">//</span></strong>{% for vari in product.variants %}{% if forloop.last == true %} <a href="{{ vari.url }}">{{ vari.sku }}</a>{% else %} <a href="{{ vari.url }}">{{ vari.sku }}</a>,{% endif %}{% endfor %}</span>
					</div>
				{% endif %}
				<div class="hp-pd-vendor">
					{% comment %}
						Looks up vendor for product.
					{% endcomment %}
					{% assign product_vendor_handle = product.vendor | handle %}       
					{% if collections[product_vendor_handle].handle == product_vendor_handle %}
						{% assign vendor_url = collections[product_vendor_handle].url %}
					{% else %}
						{% assign vendor_url = product.vendor | url_for_vendor %}
					{% endif %}
					<span>
						<a href="{{ vendor_url }}">{{ product.vendor }}</a>
					</span>
				</div>
				<div class="hp-pd-ratings">
					<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
				</div>
				<div class="hp-pd-price">
					<span>$</span> {{ product.price | money_without_currency }}
				</div>
				<div class="hp-pd-button">
					<a href="{{ product.url }}" class="btn btn-primary tb-button">Shop Now</a>
				</div>
			</div>
		{% endfor %}
		
	</div>
</div>


{% schema %}
{
	"name": "Home Page Products",
	"settings": [
	  {
	    "type": "text",
	    "id": "hp_product_header",
	    "label": "Home Product Header"
	  },
	  {
	    "type": "collection",
	    "id": "hp_product_collection",
	    "label": "Home Product Collection"
	  }
	]
}
{% endschema %}