<style type="text/css">

.hp-category-block {
	padding-top: 10px;
}

.hp-category-img {
    position: relative;
    display: inline-block;
    padding-top: 20px;
}

/*experiment*/

.solidcolor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #343a40;
}

.solidcolor .hp-category-text {
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 50px 20px;
}

.solidcolor img {
  display: block;
  position: relative;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.3
}

.solidcolor:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/*end experiment*/

.hp-category-img img {
    display: block;
}

.hp-category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

/*.hp-category-img:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}*/
</style>


<!-- shop by category -->
<div class="container">
	<div class="row justify-content-center">
	  <h3 class="hp-h3">{{ section.settings.hp_cat_header }}</h3>
	</div>
	<div class="row hp-category-block">
      <div class="col-md-4 hp-category-img">
      	<div class="solidcolor">
      	<a href="{{ section.settings.hp_cat_url_1 }}">
          <img class="img-fluid" src="{{ section.settings.hp_cat_img_1 | img_url: '500x350', crop: 'center' }}" alt="{{ section.settings.hp_cat_text_1 }}">
          <div class="hp-category-text">
              <h4 class="hp-cat-text">{{ section.settings.hp_cat_text_1 }}</h4>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4 hp-category-img">
      	<div class="solidcolor">
      	<a href="{{ section.settings.hp_cat_url_2 }}">
          <img class="img-fluid" src="{{ section.settings.hp_cat_img_2 | img_url: '500x350', crop: 'center' }}" alt="{{ section.settings.hp_cat_text_2 }}">
          <div class="hp-category-text">
              <h4 class="hp-cat-text">{{ section.settings.hp_cat_text_2 }}</h4>
          </div>
        </a>
    	</div>
      </div>
      <div class="col-md-4 hp-category-img">
      	<div class="solidcolor">
      	<a href="{{ section.settings.hp_cat_url_3 }}">
          <img class="img-fluid" src="{{ section.settings.hp_cat_img_3 | img_url: '500x350', crop: 'center' }}" alt="{{ section.settings.hp_cat_text_3 }}">
          <div class="hp-category-text">
              <h4 class="hp-cat-text">{{ section.settings.hp_cat_text_3 }}</h4>
          </div>
        </a>
    	</div>
      </div>
    </div>
</div>

{% schema %}
{
	"name": "Home Page Categories",
	"settings": [
	  {
	    "type": "text",
	    "id": "hp_cat_header",
	    "label": "Home Category Header"
	  },
	  {
	    "type": "image_picker",
	    "id": "hp_cat_img_1",
	    "label": "Home Category Image 1"
	  },
	  {
	    "type": "text",
	    "id": "hp_cat_text_1",
	    "label": "Home Category Text 1"
	  },
	  {
	    "type": "url",
	    "id": "hp_cat_url_1",
	    "label": "Home Category URL 1"
	  },
	  {
	    "type": "image_picker",
	    "id": "hp_cat_img_2",
	    "label": "Home Category Image 2"
	  },
	  {
	    "type": "text",
	    "id": "hp_cat_text_2",
	    "label": "Home Category Text 2"
	  },
	  {
	    "type": "url",
	    "id": "hp_cat_url_2",
	    "label": "Home Category URL 2"
	  },
	  {
	    "type": "image_picker",
	    "id": "hp_cat_img_3",
	    "label": "Home Category Image 3"
	  },
	  {
	    "type": "text",
	    "id": "hp_cat_text_3",
	    "label": "Home Category Text 3"
	  },
	  {
	    "type": "url",
	    "id": "hp_cat_url_3",
	    "label": "Home Category URL 3"
	  }
	]
}
{% endschema %}