<style type="text/css">
  .pri-feat-blog-col {
    padding-right: 0px;
  }

  .sub-feat-blog-col {
    padding-left: 4px;
  }

  .pri-feat-blog {
    height:500px;
    background-image: url('{{ articles[section.settings.blog_featured_post_1].image.src | img_url: '1920x' }}');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    color: #FFFFFF;
  }

  .sub-feat-blog-top {
    height:250px;
    background-image: url('{{ articles[section.settings.blog_featured_post_2].image.src | img_url: '900x' }}');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
  }

  .sub-feat-blog-bottom {
    height:250px;
    background-image: url('{{ articles[section.settings.blog_featured_post_3].image.src | img_url: '900x' }}');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
  }

  .pri-feat-blog-back {
    background: linear-gradient(to bottom, rgba(56,56,56,0), rgba(56,56,56,0.7) 100%);
    width: 100%;
    height: 500px;
    display: table;
    padding: 50px;
  }

  .sub-feat-blog-back {
    background: linear-gradient(to bottom, rgba(56,56,56,0), rgba(56,56,56,0.7) 100%);
    width: 100%;
    height: 248px;
    display: table;
    padding: 15px;
  }

  .feat-blog-row {
    display: table-row;
  }

  .feat-blog-cell {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
  }

  .cat-blog-post-row {
    margin-top: 40px;
  }

  .feat-blog-header {
    text-transform: uppercase;
    font-weight: bold;
  }

  .pri-feat-blog-col a:hover {
    text-decoration: none;
  }

  .sub-feat-blog-col a:hover {
    text-decoration: none;
  }

  .blogs-underline-header {
    border-bottom: 1px solid #343A40;
  }

  .blogs-underline-header .tb-h-underline {
    margin-bottom: 0;
  }

  .blog-cat-link {
    padding-left: 15px;
    font-size: 15px;
  }

  .blog-cat-link a {
    color: #343A40;
  }

  .blog-cat-link a:hover {
    color: #737373;
    text-decoration: none;
  }

  .feat-blog-cat-post-obj {
    margin-top: 20px;
  }

  .blog-thumb-title {
    margin-top: 15px;
    text-transform: uppercase;
  }

  .blog-thumb-title h5 {
    font-weight: bold;
  }

  .blog-thumb-title a {
    color: #343A40;
  }

  .blog-thumb-title a:hover {
    color: #737373;
    text-decoration: none;
  }

  .blog-thumb-pub-date {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .blog-thumb-excerpt {
    font-size: 15px;
  }

  @media (max-width: 767.98px) {
    .pri-feat-blog-col {
      padding-right: 15px;
    }

    .sub-feat-blog-col {
      padding-left: 15px;
    }

    .pri-feat-blog {
      height:250px;
    }

    .sub-feat-blog-top {
      border-bottom: none;
    }

    .sub-feat-blog-bottom {
      border-top: none;
    }

    .pri-feat-blog-back {
      height: 250px;
      padding: 15px;
    }

    .sub-feat-blog-back {
      height: 250px;
    }

  }


</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 pri-feat-blog-col">
      <a href="{{ articles[section.settings.blog_featured_post_1].url }}">
        <div class="pri-feat-blog">
          <div class="pri-feat-blog-back">
            <div class="feat-blog-row">
              <div class="feat-blog-cell">
                <h3 class="feat-blog-header">{{ articles[section.settings.blog_featured_post_1].title | truncate: 60 }}</h3>
                <div class="feat-blog-date">  
                  <span><i class="fas fa-clock"></i> {{ articles[section.settings.blog_featured_post_1].published_at | date: "%B %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 sub-feat-blog-col">
      <a href="{{ articles[section.settings.blog_featured_post_2].url }}">
        <div class="sub-feat-blog-top">
          <div class="sub-feat-blog-back">
            <div class="feat-blog-row">
              <div class="feat-blog-cell">
                <h3 class="feat-blog-header">{{ articles[section.settings.blog_featured_post_2].title | truncate: 60 }}</h3>
                <div class="feat-blog-date">  
                  <span><i class="fas fa-clock"></i> {{ articles[section.settings.blog_featured_post_2].published_at | date: "%B %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="{{ articles[section.settings.blog_featured_post_3].url }}">
        <div class="sub-feat-blog-bottom">
          <div class="sub-feat-blog-back">
            <div class="feat-blog-row">
              <div class="feat-blog-cell">
                <h3 class="feat-blog-header">{{ articles[section.settings.blog_featured_post_3].title | truncate: 60 }}</h3>
                <div class="feat-blog-date">  
                  <span><i class="fas fa-clock"></i> {{ articles[section.settings.blog_featured_post_3].published_at | date: "%B %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container">
  {% for block in section.blocks %}
  <div class="cat-blog-post-row">
    <div class="row">
      <div class="col-md-12">
        <div class="blogs-underline-header">
          <h3 class="tb-h-underline">{{ blogs[block.settings.blog_obj].title }}</h3>
          <span class="blog-cat-link"><a href="{{ blogs[block.settings.blog_obj].url }}">See all posts <i class="fas fa-angle-right"></i></a></span>
        </div>
      </div>
    </div>
    <div class="row feat-blog-cat-post-row">
      {% for article in blogs[block.settings.blog_obj].articles %}
        <div class="col-md-4 feat-blog-cat-post-obj">
          <div class="blog-thumb-img">
            <a href="{{ article.url }}">
              <img class="img-fluid" src="{{ article.image.src | img_url: '550x400', crop: 'center' }}">
            </a>
          </div>
          <div class="blog-thumb-title">
            <h5><a href="{{ article.url }}">{{ article.title | truncate: 80 }}</a></h5>
          </div>
          <div class="blog-thumb-pub-date">
            <span><i class="fas fa-clock"></i> {{ article.published_at | date: "%B %d, %Y" }}</span>
          </div>
          <div class="blog-thumb-excerpt">
            {% if article.excerpt != blank %}
              <p>{{ article.excerpt | strip_html | truncate: 140 }}</p>
            {% else %}
              <p>{{ article.content | strip_html | truncate: 140 }}</p>
            {% endif %}
          </div>
          <div class="blog-thumb-read-more">
            <a href="{{ article.url }}" class="btn btn-primary tb-button">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Blog Homepage",
  "settings": [
    {
      "type": "article",
      "id": "blog_featured_post_1",
      "label": "Featured Post 1"
    },
    {
      "type": "article",
      "id": "blog_featured_post_2",
      "label": "Featured Post 2"
    },
    {
      "type": "article",
      "id": "blog_featured_post_3",
      "label": "Featured Post 3"
    }
  ],
  "name": "Brand List",
  "blocks": [
    {
      "type": "select",
      "name": "Blog Link Lists",
      "settings": [
        {
          "type": "blog",
          "id": "blog_obj",
          "label": "Blog Object"
        }
      ]
    }
  ]
}
{% endschema %}