<style type="text/css">
  .pri-feat-blog {
    background-image: url('{{ articles[section.settings.blog_featured_post_1].image.src | img_url: '1920x' }}');
  }

  .sub-feat-blog-top {
    background-image: url('{{ articles[section.settings.blog_featured_post_2].image.src | img_url: '900x' }}');
  }

  .sub-feat-blog-bottom {
    background-image: url('{{ articles[section.settings.blog_featured_post_3].image.src | img_url: '900x' }}');
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6 pri-feat-blog-col">
      <a href="{{ articles[section.settings.blog_featured_post_1].url }}">
        <div class="pri-feat-blog">
          <div class="pri-feat-blog-back">
            <div class="feat-blog-row">
              <div class="feat-blog-cell">
                <h3 class="feat-blog-header">{{ articles[section.settings.blog_featured_post_1].title | truncate: 60 }}</h3>
                <div class="feat-blog-date">  
                  <span><i class="fas fa-clock"></i> {{ articles[section.settings.blog_featured_post_1].published_at | date: "%B %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 sub-feat-blog-col">
      <a href="{{ articles[section.settings.blog_featured_post_2].url }}">
        <div class="sub-feat-blog-top">
          <div class="sub-feat-blog-back">
            <div class="feat-blog-row">
              <div class="feat-blog-cell">
                <h3 class="feat-blog-header">{{ articles[section.settings.blog_featured_post_2].title | truncate: 60 }}</h3>
                <div class="feat-blog-date">  
                  <span><i class="fas fa-clock"></i> {{ articles[section.settings.blog_featured_post_2].published_at | date: "%B %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="{{ articles[section.settings.blog_featured_post_3].url }}">
        <div class="sub-feat-blog-bottom">
          <div class="sub-feat-blog-back">
            <div class="feat-blog-row">
              <div class="feat-blog-cell">
                <h3 class="feat-blog-header">{{ articles[section.settings.blog_featured_post_3].title | truncate: 60 }}</h3>
                <div class="feat-blog-date">  
                  <span><i class="fas fa-clock"></i> {{ articles[section.settings.blog_featured_post_3].published_at | date: "%B %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center blog-hp-cat-list">
      <h4 class="d-md-inline blog-hp-cat-list-cat">Categories <span class="tb-green">//</span></h4>
        {% for link in linklists[section.settings.blog_hp_cat_list].links %}
          <h4 class="d-md-inline blog-hp-cat-list-margin">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </h4>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 blog-feat-header">
      <div class="blogs-underline-header">
        <h3 class="tb-h-underline">Recommended</h3>
      </div>
    </div>
  </div>
  {% for block in section.blocks %}
  <div class="cat-blog-post-row">
    <div class="row">
      <div class="col-md-12">
        <div class="blogs-underline-header">
          <h3 class="tb-h-underline">{{ blogs[block.settings.blog_obj].title }}</h3>
          <span class="blog-cat-link"><a href="{{ blogs[block.settings.blog_obj].url }}">See all posts <i class="fas fa-angle-right"></i></a></span>
        </div>
      </div>
    </div>
    <div class="row feat-blog-cat-post-row">
      {% for article in blogs[block.settings.blog_obj].articles %}
        <div class="col-md-4 feat-blog-cat-post-obj">
          <div class="blog-thumb-img">
            <a href="{{ article.url }}">
              <img class="img-fluid" src="{{ article.image.src | img_url: '550x400', crop: 'center' }}">
            </a>
          </div>
          <div class="blog-thumb-title">
            <h5><a href="{{ article.url }}">{{ article.title | truncate: 80 }}</a></h5>
          </div>
          <div class="blog-thumb-pub-date">
            <span><i class="fas fa-clock"></i> {{ article.published_at | date: "%B %d, %Y" }}</span>
          </div>
          <div class="blog-thumb-excerpt">
            {% if article.excerpt != blank %}
              <p>{{ article.excerpt | strip_html | truncate: 140 }}</p>
            {% else %}
              <p>{{ article.content | strip_html | truncate: 140 }}</p>
            {% endif %}
          </div>
          <div class="blog-thumb-read-more">
            <a href="{{ article.url }}" class="btn btn-primary tb-button">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Featured Blog Posts",
  "settings": [
    {
      "type": "article",
      "id": "blog_featured_post_1",
      "label": "Featured Post 1"
    },
    {
      "type": "article",
      "id": "blog_featured_post_2",
      "label": "Featured Post 2"
    },
    {
      "type": "article",
      "id": "blog_featured_post_3",
      "label": "Featured Post 3"
    },
    {
      "type": "link_list",
      "id": "blog_hp_cat_list",
      "label": "Blog Category List"
    },
    {
      "type": "article",
      "id": "recommended_blog_post",
      "label": "Recommended Blog Post"
    }
  ],
  "name": "Blog List",
  "blocks": [
    {
      "type": "select",
      "name": "Blog Link Lists",
      "settings": [
        {
          "type": "blog",
          "id": "blog_obj",
          "label": "Blog Object"
        }
      ]
    }
  ]
}
{% endschema %}