{% include 'breadcrumbs' %}

<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h1 class="h1-underline">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 my-auto">
        <h2>Have a question or comment?</h2>
        <h3>We're here for you.</h3>
        <div class="contact-social-info">
        {% if settings.contact_phone != blank %}
          <div class="hvr-icon-fade"><i class="fas fa-phone hvr-icon"></i> {{ settings.contact_phone }}</div>
          <br>
        {% endif %}
        {% if settings.contact_mailing != blank %}
          <div class="hvr-icon-fade"><i class="fas fa-envelope hvr-icon"></i> {{ settings.contact_mailing }}</div>
        {% endif %}
          <div>
            <span>Follow Us:</span>
            <span class="hvr-icon-fade"><a href="{{ settings.facebook_link }}"><i class="fab fa-facebook hvr-icon"></i></a></span>
            <span class="hvr-icon-fade"><a href="{{ settings.instagram_link }}"><i class="fab fa-instagram hvr-icon"></i></a></span>
            <span class="hvr-icon-fade"><a href="{{ settings.twitter_link }}"><i class="fab fa-twitter hvr-icon"></i></a></span>
            <span class="hvr-icon-fade"><a href="{{ settings.pinterest_link }}"><i class="fab fa-pinterest hvr-icon"></i></a></span>
          </div>
        </div>
      </div>
      <div class="col-xl-6 contact-form">
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p>Thank you for contacting us!</p>
          {% else %}
            {{ form.errors | default_errors }}
          {% endif %}
          <div class="form-group">
            <select class="form-control" name="contact[reason]" required="required">
              <option value="" disabled selected>Select Reason</option>
              <option>Order Status</option>
              <option>Return</option>
              <option>Product Information</option>
              <option>Company Information</option>
              <option>Feedback</option>
              <option>Mailing Lists</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <input type="name" name="contact[name]" class="form-control" placeholder="Name" required="required">
          </div>
          <div class="form-group">
            <input type="email" name="contact[email]" class="form-control" placeholder="Email" required="required">
          </div>
          <div class="form-group">
            <input type="order" name="contact[order]" class="form-control" placeholder="Order Number (Optional)">
          </div>
          <div class="form-group">
            <input type="subject" name="contact[subject]" class="form-control" placeholder="Subject" required="required">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Message" name="contact[message]" required="required"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary tb-button" value="Submit">
          </div>
        {% endform %}
      </div>
    </div>
</div>



