<style type="text/css">
	.product-header-bottom-line {
		border-bottom: 1px solid;
	}

	.product-h1 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 25px;
	}
</style>

{% include 'breadcrumbs' %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="product-header-bottom-line">
				<h1 class="tb-h-underline product-h1 mb-0">{{ product.title }}</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h6 class="mt-2">{{ product.vendor }}</h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<img class="img-fluid" src="{{ product.featured_image.src | img_url: '500x500', crop: 'center' }}">
		</div>
		<div class="col-md-4">
			{% assign price_list = product.price | money | split: '.' %}
			{% for price in price_list %}
				{% if forloop.last != true %}
					<span>{{ price | slice: 0 }}</span>
					<span>{{ price | remove: "$" }}</span>
				{% else %}
					<span>{{ price }}</span>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		{{ product.description }}
		<form action="/cart/add" method="post" enctype="multipart/form-data">
			<select name="id">
				{% for variant in product.variants %}
					{% if variant.available == true %}
						<option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
					{% else %}
						<option disabled="disabled"> {{ variant.title }} - sold out!</option>
					{% endif %}
				{% endfor %}
			</select>
			<input type="submit" name="add" id="add" value="Add to Cart" class="button">
		</form>
	</div>
</div>