{% paginate search.results by 10 %}

<div class="container">

    <div class="row">
      <div class="col-md-12">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <h1>There weren't any results</h1>
          {% else %}
            <h1>There were results</h1>
          {% endif %}
        {% else %}
          <h1>Search</h1>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form action="/search" method="get">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q" aria-label="Search for products" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary tb-button" type="submit"><i class="fas fa-search"></i> Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% if search.types contains 'product' %}
      <div class="row">
        {% for product in search.results %}
          <div class="col-md-3">
            {% include 'product-grid-item' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if search.types contains 'article' %}
      <div class="row">
        {% for article in search.results %}
          <div class="col-md-3">
                <div class="col-md-6 my-auto">
                <a href="{{ article.url }}">
                  <img class="img-fluid" src="{{ article.image.src | img_url: '950x630', crop: 'center' }}">
                </a>
            </div>
            <div class="col-md-6 my-auto">
                <div class="blog-thumb-title">
                  <h6>
                    <a href="{{ article.url }}">{{ article.title | truncate: 65 }}</a>
                  </h6>
                </div>
                <div class="blog-thumb-pub-date">
                  <span><i class="fas fa-clock"></i> {{ article.published_at | date: "%b %d, %Y" }}</span>
                </div>
                <div class="blog-thumb-excerpt">
                  {% if article.excerpt != blank %}
                    <p>{{ article.excerpt | strip_html | truncate: 120 }}</p>
                  {% else %}
                    <p>{{ article.content | strip_html | truncate: 120 }}</p>
                  {% endif %}
                </div>
                <div class="cat-feat-blog-thumb-read-more">
                  <a href="{{ article.url }}" class="btn btn-primary tb-button-small">Read More</a>
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

</div>

{% endpaginate %}